.sconsign.dblite
build
dist
*.pyc
*.pyd
supreme.egg-info
*.os
*.so
*_init.c
doc/examples/output
*~
doc/refguide/source/api/*
doc/refguide/build
doc/examples/*.tiff
doc/examples/*.eps
doc/examples/*.npy
doc/examples/*.png
